<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top col-md-11 mx-auto" style="background: white;">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div class="row" style="width: 100%;">-->
      <div  style="border: green 0px solid;">
        <div style="float: left;"><img src="../../assets/dg.png" height="55" width="55"></div>
        <div style="float: left; margin-top: 30px;">
          <strong style="font-size: 25px; font-weight: lighter;">IASPOGIFT</strong>
        </div>
      </div>
    <!--</div>
  </div>
</nav>-->
