



<div class="container">
  <div class="row">
  <div style="margin-top:50px; border: red solid 0px;" class="col-md-6 col-sm-8 mx-auto">
    <div class="card card-outline-primary">
      <div class="card-header">
        <div class="row">
          <div class="col-6 mx-auto">
            <img class="" src="../../assets/dg.png"  alt="DIASPGIFT">
            <h2><span class="center-block">Sign In</span></h2>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-10 mx-auto">
          <div style="padding-top:30px" class="card-block">



            <form id="loginform" class="form-horizontal" role="form" [formGroup]="rForm"
                  (ngSubmit)="addAuthenticate(rForm.value)">

              <div id="login-alert" class="alert alert-danger col-sm-12" *ngIf="failiure">
                  {{message}}
              </div>

              <div class="col-md-12" *ngIf="loading">
                <div class="row">
                  <div class="col-2 mx-auto">
                    <img src="../../assets/img/loader/loader1.gif" height="60" width="50"/>
                  </div>
                </div>
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username"
                       formControlName="username">
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input id="login-password" type="password" class="form-control" name="password" placeholder="password"
                       formControlName="password">
              </div>

              <div style="margin-top:10px" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls">
                  <button type="submit" class="btn btn-info" [disabled]="!rForm.valid">Login</button>

                </div>
                <span style="float:right; font-size: 85%; position: relative; top:-10px; display: none;">Don't have an account? <a
                  (click)="gotoSigUp()" class="center">   Sign Up here</a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
