
<div class="card card-outline-primary" type="info">
  <!--<div class="card-header">-->
    <div class="row">
      <div class="col-11 mx-auto card-header {{tenant.getIsActive()? 'alert-success':'alert-danger'}}">
        <div class="row">
          <div class="col-2">
            <img class="card-img-top user-img" src="../../../../../assets/img/default-user.png" alt="{{tenant.getName()}}">
          </div>
          <div class="col-10" style="font-size: small">
            <span>&#9733; <b>{{tenant.getName()}}</b>  &#9733;</span><br/>
            {{tenant.getTenantId()}}
          </div>
        </div>

      </div>
    </div>

 <!-- </div>-->

  <div class="row">
    <div class="col-11 mx-auto">
      <div class="card-block">
        <br>
        <p>{{tenant.getDescription()}}</p>
        <hr>
        <button  class="btn btn-sm btn-outline-info pull-right"  (click)="openEditModal(content)">
          <span class="fa fa-edit"></span> Edit
        </button>
        <button   class="btn btn-sm  btn-link"  (click)="gotoGroups();">Groups</button>
        <button   class="btn btn-sm  btn-link"  (click)="gotoUsers();">Users</button>
        <button   class="btn btn-sm  btn-link"  (click)="gotoRoles();">Roles</button>

        <ng-template  #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">{{tenant.getName()}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="loading">
              <img src="../../../../../assets/img/loader/loader1.gif" height="40" width="55"/>
            </div>
            <div *ngIf="success" class="alert-success">
              {{message}}
            </div>
            <div *ngIf="failiure" class="alert-danger">
              {{message}}

          </div>
            <form>
              <label class="checkbox-inline" *ngIf="tenant.getIsActive()">Disable</label>
              <input  type="checkbox" checked name="state" id="state1" (click)="toggleState();"
                      *ngIf="tenant.getIsActive()" style="height: 18px; width: 18px;" class="pull-right">
              <label class="checkbox-inline" *ngIf="!tenant.getIsActive()">Enable</label>
              <input  type="checkbox" name="state" id="state12" (click)="toggleState();"
                      style="height: 18px; width: 18px;" *ngIf="!tenant.getIsActive()" class="pull-right">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" (click)="abandonne()">Close</button>
            <button type="button" class="btn btn-info btn-sm" (click)="saveChanges(content);" data-dismiss="modal">Save changes</button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
  <br/>
</div>

