<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand " href="#" (click)="gotoHome($event);"><img src="../assets/diaspogift.png"  height="40"
                                        width="40" style="margin-top: -20px;"/>IASPOGIFT</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="canManageTenant()" class="nav-item active" #tenants>
        <a class="nav-link"  [routerLink]="['tenants']" (click)="manageActiveLink($event);">Partner</a>
      </li>
      <li class="nav-item" #users>
        <a class="nav-link"  [routerLink]="['users']" (click)="manageActiveLink($event);">Users</a>
      </li>
      <li class="nav-item" #services>
        <a class="nav-link"  [routerLink]="['services']" (click)="manageActiveLink($event);">Services</a>
      </li>
      <li class="nav-item" #roles>
        <a class="nav-link"  [routerLink]="['roles']" (click)="manageActiveLink($event);">Roles</a>
      </li>
      <li class="nav-item" #groups>
        <a class="nav-link"  [routerLink]="['groups']" (click)="manageActiveLink($event);">Groups</a>
      </li>
      <li class="nav-item" #groupmembers>
        <a class="nav-link"  [routerLink]="['groupmembers']" (click)="manageActiveLink($event);">Group Members</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <button class="nav-link dropdown-toggle btn btn-link btn-sm" id="dropdown01" ngbDropdownToggle>
          <i class="fa fa-user"></i>
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <button class="dropdown-item btn-link btn-sm" (click)="openChangePasswordUI(content)">Change Password</button>
          <button class="dropdown-item btn-link btn-sm"  (click)="gotoLogout($event)"> <i class="fa fa-power-off"></i> Logout</button>
          <button class="dropdown-item btn-link btn-sm" (click)="gotoHome($event)">User: {{cookies['username_token']}} </button>
        </div>
      </li>
    </ul>
  </div>
</nav>
-->


<div class="row">
  <div class="col-md-2" id="dg_logo" style="border: red 0px solid; padding: 0px; padding-top: 20px;"><ul style="border: blue 0px solid; padding: 0px;"><li><app-header></app-header></li></ul></div>
  <div class="col-md-10">
    <div id='cssmenu' class="navbar fixed-top">

      <ul id="menu_horizontal">
        <li *ngIf="canManageTenant()" class="nav-item active" #tenants>
          <a class="nav-link"  [routerLink]="['tenants']" (click)="manageActiveLink($event);">Partners</a>
        </li>
        <li class="nav-item" #users>
          <a class="nav-link"  [routerLink]="['users']" (click)="manageActiveLink($event);">Users</a>
        </li>
        <li class="nav-item" #services>
          <a class="nav-link"  [routerLink]="['services']" (click)="manageActiveLink($event);">Services</a>
        </li>
        <li class="nav-item" #roles>
          <a class="nav-link"  [routerLink]="['roles']" (click)="manageActiveLink($event);">Roles</a>
        </li>
        <li class="nav-item" #groups>
          <a class="nav-link"  [routerLink]="['groups']" (click)="manageActiveLink($event);">Groups</a>
        </li>
        <li class="nav-item" #groupmembers>
          <a class="nav-link"  [routerLink]="['groupmembers']" (click)="manageActiveLink($event);">Group Members</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <button class="nav-link dropdown-toggle btn btn-link btn-sm" id="dropdown01" ngbDropdownToggle>
            <i class="fa fa-user"></i> {{cookies['username_token']}}
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <button class="btn btn-sm  btn-link dropdown-item" (click)="openChangePasswordUI(content)">Change Password</button>
            <button class="btn btn-sm  btn-link dropdown-item"  (click)="gotoLogout($event)"> <i class="fa fa-power-off"></i> Logout</button>
            <button class="btn btn-sm btn-link dropdown-item" (click)="gotoHome($event)">User: {{cookies['username_token']}} </button>
          </div>
        </li>
      </ul>
      <script type="text/javascript">
        /*function setActiveClass(){

          var path = document.location.pathname ;
          var vet = path.split("/");
          var lastpath = vet[vet.length-1];
          var menu_horizontal = document.getElementById('menu_horizontal');
          var lis = menu_horizontal.getElementsByTagName('LI');
          for(var i=0; i<lis.length; i++){
            lis[i].classList.remove("active");
            if(lis[i].id == lastpath){
              lis[i].classList.add("active");
            }else{
              if(lastpath == 'conferma.php' || lastpath == 'finale.php'){
                document.getElementById('acquista.php').classList.add("active");
              }
            }
          }

        }
        setActiveClass();*/

      </script>
    </div>
  </div>
</div>




<!--<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">I'm a modal!</h4>
  </bs-modal-header>
  <bs-modal-body>
    Hello World!
  </bs-modal-body>
  <bs-modal-footer [showDefaultButtons]="true"></bs-modal-footer>
</bs-modal>-->

<ng-template  #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div  class="col-md-12">
      <form id="changepassword" class="form-group-sm" role="form" [formGroup]="rForm" (ngSubmit)="changePassword(rForm.value)">
        <div *ngIf="failiure" id="changepasswordalerterror" class="alert alert-danger">
          <span>{{message}}</span>
        </div>
        <div *ngIf="success" id="changepasswordalertsuccess"  class="alert alert-success">
          <span>{{message}}</span>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="form-group">
            <label for="currentpassword">Current Password</label>
            <input type="password" class="form-control" name="currentpassword" placeholder="Your actual Password" id="currentpassword"
                   formControlName="currentpassword">

          </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
          <div class="form-group">
            <label for="newpassword">New Password</label>
            <input type="password" class="form-control" name="newpassword" placeholder="New Password" id="newpassword"
                   formControlName="newpassword">
          </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
          <div class="form-group">
            <label for="newpasswordrep">Repeat The New Password</label>
            <input type="password" class="form-control" name="newpasswordrep" placeholder="Repeat the New Password" id="newpasswordrep"
                   formControlName="newpasswordrep">
          </div>
        </div>

        <div class="form-group">
          <!-- Button -->
          <div class="col-md-12">
            <button type="button" class="btn btn-danger btn-sm pull-right" (click)="abandonne()">Close</button>
            <button id="btn-changepassword" type="submit" class="btn btn-info btn-sm pull-right"
            style="margin-right: 10px;"><i class="icon-hand-right"></i>Change</button>
          </div>
        </div>

      </form>
    </div>

  </div>
</ng-template>
<!--
<div id="changepasswordModal" class="modal fade" role="dialog" #changepasswordModal>
  <div class="modal-dialog ">
    <div class="modal-content panel panel-info">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="panel-title">Change Password</div>
      </div>
      <div class="modal-body panel-body">
        <form id="changepassword" class="form-group-sm" role="form" [formGroup]="rForm" (ngSubmit)="changePassword(rForm.value)">
          <div *ngIf="errorMessage!= ''" id="changepasswordalerterror" class="alert alert-danger">
            <p>Error:</p>
            <span>{{errorMessage}}</span>
          </div>
          <div *ngIf="successMessage!= ''" id="changepasswordalertsuccess"  class="alert alert-success">
            <p>Success:</p>
            <span>{{successMessage}}</span>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
              <label for="currentpassword">Current Password</label>
              <input type="password" class="form-control" name="currentpassword" placeholder="Your actual Password" id="currentpassword"
                     formControlName="currentpassword">

            </div>
          </div>

          <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
              <label for="newpassword">New Password</label>
              <input type="password" class="form-control" name="newpassword" placeholder="New Password" id="newpassword"
                     formControlName="newpassword">
            </div>
          </div>

          <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
              <label for="newpasswordrep">Repeat The New Password</label>
              <input type="password" class="form-control" name="newpasswordrep" placeholder="Repeat the New Password" id="newpasswordrep"
                     formControlName="newpasswordrep">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-changepassword" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Change</button>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->

<router-outlet></router-outlet>



<app-footer></app-footer>




























<!--
<h3  class="pull-right">User: {{cookies['username_token']}}</h3>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a  [routerLink]="['users']"  class="navbar-brand nav-link" >
      <img src="../assets/diaspogift.png"  height="30" width="30" style="margin-top: -20px;"/><span style="font-size: 1.5em; margin-left: 40px;">DiaspoGift</span>
    </a>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li *ngIf="canManageTenant()" class="nav-item active" #tenants>
        <a class="nav-link"  [routerLink]="['tenants']" (click)="manageActiveLink($event);">Partner</a>
      </li>
      <li class="nav-item" #users>
        <a class="nav-link"  [routerLink]="['users']" (click)="manageActiveLink($event);">Users</a>
      </li>
      <li class="nav-item" #services>
        <a class="nav-link"  [routerLink]="['services']" (click)="manageActiveLink($event);">Services</a>
      </li>
      <li class="nav-item" #groups>
        <a class="nav-link"  [routerLink]="['groups']" (click)="manageActiveLink($event);">Groups</a>
      </li>
      <li class="nav-item" #groupmembers>
        <a class="nav-link"  [routerLink]="['groupmembers']" (click)="manageActiveLink($event);">Group Members</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          &nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-cog"></i>
          <span class="caret"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <ul class="dropdown-menu">
          <li>
            <a type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#changepasswordModal">Change Password</a>
          </li>
          <li role="separator" class="divider"></li>
          <li><a class="nav-link"  [routerLink]="['logout']"> <i class="glyphicon glyphicon-off"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

    <div id="changepasswordModal" class="modal fade" role="dialog" #changepasswordModal>
      <div class="modal-dialog ">
        <div class="modal-content panel panel-info">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="panel-title">Change Password</div>
          </div>
          <div class="modal-body panel-body">
            <form id="changepassword" class="form-group-sm" role="form" [formGroup]="rForm" (ngSubmit)="changePassword(rForm.value)">
              <div *ngIf="errorMessage!= ''" id="changepasswordalerterror" class="alert alert-danger">
                <p>Error:</p>
                <span>{{errorMessage}}</span>
              </div>
              <div *ngIf="successMessage!= ''" id="changepasswordalertsuccess"  class="alert alert-success">
                <p>Success:</p>
                <span>{{successMessage}}</span>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                  <label for="currentpassword">Current Password</label>
                  <input type="password" class="form-control" name="currentpassword" placeholder="Your actual Password" id="currentpassword"
                         formControlName="currentpassword">

                </div>
              </div>

              <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                  <label for="newpassword">New Password</label>
                  <input type="password" class="form-control" name="newpassword" placeholder="New Password" id="newpassword"
                         formControlName="newpassword">
                </div>
              </div>

              <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                  <label for="newpasswordrep">Repeat The New Password</label>
                  <input type="password" class="form-control" name="newpasswordrep" placeholder="Repeat the New Password" id="newpasswordrep"
                         formControlName="newpasswordrep">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                  <button id="btn-changepassword" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Change</button>
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
 <router-outlet></router-outlet>

-->

