<div id="login-alert" class="alert alert-danger col-sm-12" *ngIf="failiure">
  {{message}}
</div>

<div class="col-md-12" *ngIf="loading">
  <div class="row">
    <div class="col-1 mx-auto">
      <img src="../../../../assets/img/loader/loader1.gif"  class="loader1-gif"/>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-sm btn-info pull-right" (click)="gotoNewTenant();">New Partner</button>
  </div>
</div>

<div class="row">
    <app-tenant-list-item *ngFor="let tenant of tenants" [tenant]="tenant" class="col-md-3 col-sm-12"></app-tenant-list-item>
</div>


