
<div class="row">
  <div class="col-12" >
    <button type="button" class="btn-link pull-left btn-sm"><span class="">{{tenant['name']}}</span></button>
  </div>
</div>

<div class="row ">
  <div class="col-md-12" *ngIf="canCreateRole();">
    <button type="button" class="btn btn-sm btn-info pull-right" (click)="openAddRole(content)">
      <span class="fa  fa-plus-circle"></span>  Create a Role
    </button>
    <!--<button type="button" class="btn btn-sm btn-primary" (click)="gotoRegister();">Register</button>-->

    <ng-template  #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">New Role</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="createnewgroup" class="form-group-sm" role="form" [formGroup]="rFormNewRole"
              (ngSubmit)="createRoles(rFormNewRole.value)">
          <div *ngIf="failiure"  class="alert alert-danger">
            <span>{{message}}</span>
          </div>
          <div *ngIf="success"  class="alert alert-success">
            <span>{{message}}</span>
          </div>

          <div class="row">
            <div  class="col-md-3  mx-auto" *ngIf="loading">
              <img src="../../../../assets/img/loader/loader1.gif">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" name="description" placeholder="Description" id="description"
                     formControlName="description">

            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" placeholder="Group Name" id="name"
                     formControlName="name">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="supportsNesting" class="checkbox-inline">Supports Nesting&nbsp;&nbsp;</label>
              <input type="checkbox"  checked name="supportsNesting"  id="supportsNesting"
                      (click)="toggleSupportsNesting();" style="height: 18px; width: 18px;">


            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button  type="submit" class="btn btn-sm btn-info"><i class="icon-hand-right"></i>Create</button>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" (click)="abandonne()">Close</button>
      </div>
    </ng-template>



    <!--<div id="createGroupModal" class="modal fade" role="dialog" #createGroupModal>
      <div class="modal-dialog ">
        <div class="modal-content panel panel-info">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="panel-title">New Group</div>
          </div>
          <div class="modal-body panel-body">
            <div  class="col-md-12">

              <form id="createnewgroup" class="form-group-sm" role="form" [formGroup]="rFormNewGroup"
                    (ngSubmit)="createGroup(rFormNewGroup.value)">
                <div *ngIf="errorMessage!= ''" id="registrationinvitationalerterror" style="display:none" class="alert alert-danger">
                  <p>Error:</p>
                  <span>{{errorMessage}}</span>
                </div>
                <div *ngIf="successMessage!= ''" id="registrationinvitationalertsuccess" style="display:none" class="alert alert-success">
                  <p>Success:</p>
                  <span>{{successMessage}}</span>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" placeholder="Description" id="description"
                           formControlName="description">

                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Group Name" id="name"
                           formControlName="name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <button  type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Create</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>-->
  </div>
</div>

<div id="login-alert" class="alert alert-danger col-sm-12" *ngIf="failiure">
  {{message}}
</div>

<div class="col-md-12" *ngIf="loading">
  <div class="row">
    <div class="col-3 mx-auto">
      <img src="../../../../assets/img/loader/loader1.gif" height="60" width="50"/>
    </div>
  </div>
</div>

<div class="row">
  <app-role-list-item *ngFor="let role of roles" [role]="role" class="col-md-3 col-sm-12"></app-role-list-item>
</div>

