
<div class="row" *ngIf="!(url==='')">
  <div class="col-12">
    <button type="button" class="btn-link  btn-sm">{{tenant['name']}}</button>
    &gt;
    <button type="button" class="btn-link  btn-sm">{{grpname}}</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
   <!-- {{url}}<br />
    {{notmemberUrl}}-->
    <button type="button" class="btn btn-sm btn-info pull-right" (click)="gotoAddGroup();" *ngIf="canAddMembers()">
      <span class="fa fa-plus-circle"></span>
      Add Members
    </button>
  </div>
</div>


<div class="row">
  <div id="login-alert" class="alert alert-danger col-sm-12" *ngIf="failiure">
    {{message}}
  </div>
</div>


<div class="col-md-12" *ngIf="loading">
  <div class="row">
    <div class="col-3 mx-auto">
      <img src="../../../../../assets/img/loader/loader1.gif" height="60" width="50"/>
    </div>
  </div>
</div>

<div class="row">
    <app-group-member-list-item
      *ngFor="let groupMember of groupMembers"
      [groupMember]="groupMember"
      [groupName]="grpname"
      [membersUrl] = "url"
      (sendGroupMembersLink)="getGroupMembersLinks($event)"
      (sendNotMembersLink)="getNotGroupMembersLinks($event)"
      (sendGroupMemberName)="getGroupMemberName($event)"
      (sendRefreshGroupMembers)="refreshPage($event)"
      class="col-md-6 col-sm-12"></app-group-member-list-item>
</div>
