/* You can add global styles to this file, and also import other style files */

/*@import url('./assets/css/fonts.googleapis.com.css');*/

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/


/*body {
  background:#e8e8e8;
  font-family: 'Arial';
}*/

@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  padding-top: 10pt;
  font-size: small;

  /*background:#e8e8e8;*/
  background:#ffffff;
  font-family: 'Arial';
}

.user-img{
  /*border: 2px solid #f3f3f3;*/
  border-radius: 50%;
  /*border-top: 10px solid #3498db;*/
  width: 50px;
  height: 50px;
  /*-webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;*/
}

.btn-info {
  background: #ff813a;
  color: #ffffff;
  border-color: #ff813a;
}

.btn-info:hover {
  background: #ffffff;
  color: #ff813a;
  border-color: #ff813a;
}


.btn-outline-info {
  background: #ffffff;
  color: #ff813a;
  border-color: #ff813a;
}

.btn-outline-info:hover {
  background: #ff813a;
  color: #ffffff;
  border-color: #ff813a;
}

.btn-link{
  color: #ff813a;
}

.btn-link:hover{
  color: #ff5733;
}

.alert-success{
  background: #ffffff;
  color: #ff5733;
  border-bottom:  .5px solid #ff5733;
}

.card-outline-primary{

  border:  1px solid #ff5733;
}

.btn-outline-info, .dropdown-toggle:active{
  background: #ffffff;
  color: #ff813a;
  border-color: #ff813a;
}

.open>.dropdown-toggle.btn-outline-info {
  color: #ff813a;
  background-color: #ffffff;
  border-color: #ff813a;
}
